/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.content{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  margin-top: 200px;
  background: #b16161;
  padding-bottom: 30px;
  border: 1px solid green;
}
.head{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
  border: 1px solid blue;
}




  input [type=text], select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  
  }
  
  input[type=password], select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  
  
  }
  */
  .field{
    background:url(../images/3.jpg); 
    height: 200%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    
  }
   
  
  
  .new{
    /* background:url(../images/3.jpg);  */
    /* height: 100vh;
    width: auto; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* display: inline-block; */
    /* flex-direction: column; */
    margin: auto;
    width: 600px;
    margin-top: 100px;
   font-weight: bolder;
    padding-bottom: 30px;
    border: 1px solid green;
    border-radius: 50px;
    padding: 25px ;
    margin-bottom: 50px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.7);
    /* position: fixed; */
    z-index: 9999;
    margin-left: 700px;
  
  } 
   
    .heading1{
      font-size: 30px;
    display: flex;
    color: rgb(1, 55, 117);
    text-align: center;
    cursor: default;
    justify-content: center;
    margin-bottom: 0px;
    font-weight: bolder;
    }
     /* .field{
      display: inline-block;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 100px;
   font-weight: bolder;
    padding-bottom: 30px;
    border: 1px solid green;
    border-radius: 50px;
    padding: 25px ;
    margin-bottom: 50px;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.7);
    position: fixed;
    z-index: 9999;
   
    }  */
  
    .Form.Group[type=text],Form.Group[type=number],Form.Group[type=email]{
      font-size: 1rem;
      width:300px;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 0.5rem;
      position: fixed;
      z-index: 9999;
    }
  
    
    .btn1{
      
      width: 100%;
      display: inline-block;
      background: rgb(1, 55, 117);
    
    }
    .btn2{
      background: rgb(1, 55, 117);
    }
    
  
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    